.container {
  padding: 6.875rem 1.25rem 5.375rem 1.25rem;
  height: 100vh;
  @include flex-column-with-gap(5.375rem);
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer {
  @include flex-column-with-gap(0.5rem);
  align-items: center;
  svg {
    cursor: pointer;
  }
}
