.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &--primary {
    background-color: $purple-200;
    color: $gray-100;
  }
  &--secondary {
    box-shadow: $gray-800 0px 0px 0px 1px inset;
    background-color: transparent;
    color: $gray-800;
  }
  &--small {
    padding: 10px 16px;
    font-size: 12px;
  }
  &--medium {
    padding: 11px 20px;
    font-size: 14px;
  }
  &--large {
    padding: 12px 24px;
    font-size: 16px;
    @include dash-line(2px, $gray-800);
  }
}
