.container {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
  @include flex-center-column;
  width: 100%;
}
.character {
  width: 13.75rem;
  height: 13.75rem;
  background-color: $neutral-300;
  border-radius: 1.5625rem;
}
.content {
  width: 100%;
  @include displayFlex(column, center, center, 0.75rem);
  margin-top: 1rem;
  h5 {
    @include subTitle4;
    color: $neutral-700;
    margin: 0 auto;
    text-align: center;
    @include text-wrap(18.8125rem);
  }
}
