.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.avatar {
  width: 5rem;   // 80px
  height: 5rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .email {
    font-size: 1rem;
    color: #757575;
  }
}
