.container {
  @include flex-column;
  min-height: 100vh;
  padding: 0 1.125rem 1.75rem 1.125rem;
  background-color: $white;
  text-align: center;
}

.sliderContainer {
  padding: 2rem;
}

.header {
  @include flex-column-with-gap(0.75rem);
  align-items: center;
  margin-top: 3.75rem;
}

.title {
  @include title3;
  white-space: pre-line;
}

.content {
  flex: 1;
  // margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 1.75rem;
  right: 0;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  width: 100%;
  z-index: 10;
  padding: 0 1.125rem;
}

.button {
  width: 100%;
  .__half {
    width: 50%;
  }
}

.blue300 {
  color: $primary-blue-300;
}
