@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif !important;
  touch-action: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pretendard Variable';
}
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  background-color: $neutral-200;
  min-height: 100vh;
  @include displayFlex(row, center, center);
  .layout {
    background-color: $white;
    min-height: 100vh;
    width: 100%;
    max-width: 32rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: relative;
  }
}

.title1 {
  @include title1;
}

.title2 {
  @include title2;
}

.title3 {
  @include title3;
}

.title4 {
  @include title4;
}

.subTitle1 {
  @include subTitle1;
}

.subTitle2 {
  @include subTitle2;
}

.subTitle3 {
  @include subTitle3;
}

.subTitle4 {
  @include subTitle4;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.caption {
  @include caption;
}
