.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  cursor: pointer;
  margin-top: 1.875rem;
}

.flipCard {
  position: relative;
  width: 19.375rem;
  height: 20.5rem;
  transform-style: preserve-3d;
}

.flipCardFront,
.flipCardBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem 3.5rem 1.875rem 3.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
  backface-visibility: hidden;
}

.flipCardBack {
  transform: rotateY(-180deg);
}

.cardTitle {
  @include subTitle3;
  color: $neutral-600;
  margin-bottom: 1.75rem;
}

.nextButton {
  @include flex-align-center;
  position: absolute;
  width: 16.875rem;
  padding: 0.875rem 0;
  right: 1.25rem;
  bottom: 1.875rem;
  color: $neutral-500;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  border: 1.4px solid $neutral-400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  svg {
    margin-left: 0.25rem;
  }
}
