.header {
  position: fixed;
  top: 0;
  background-color: #f7f7f7;
  max-width: 32rem;
  width: 100%;
  z-index: 3;
}

.content {
  padding-top: 7.25rem;
}

.characterButton {
  font-weight: 600;
  color: #000 !important;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem 0 1rem 2rem;
  cursor: pointer;
}

.characterButtonIcon {
  color: $neutral-600;
}
.characterList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1rem 0;
}

.characterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  padding: 0.5rem 0;

  &:hover {
    color: #000;
  }
}

.checkIcon {
  color: #007aff; // 파란색 체크 아이콘
}
