.container {
  border-radius: 0.375rem;
  width: fit-content;
}

.size-sm {
  @include body2;
  padding: 0.25rem 0.5rem;
}

.size-md {
  @include subTitle4;
  padding: 0.25rem 0.5rem;
}

.size-big {
  @include subTitle3;
  padding: 0.375rem 0.75rem;
}

.color-neutral {
  background-color: $neutral-200;
  color: $neutral-700;
}

.color-brand {
  background-color: $primary-blue-100;
  color: $primary-blue-500;
}

.color-black {
  background-color: $neutral-200;
  color: $neutral-800;
}
