.container {
  height: 4.25rem;
  background-color: $white;
  width: 100%;
  justify-content: center;
  @include grid(3);
  .section {
    @include displayFlex(row, center, center);
  }
}

.layout {
  @include flex-column;
  z-index: 2;
  height: 100%;
  .content {
    @include flex-column;
    margin-bottom: 4.25rem;
    flex: 1;
    min-height: calc(100vh - 4.25rem);
  }
  .footer {
    height: 4.25rem;
    width: 100%;
    max-width: 32rem;
    position: fixed;
    bottom: 0;
  }
}
