$white: #ffffff;
$black: #000000;
$red: #f03e3e;

// primary
$primary-blue-100: #dbe6ff;
$primary-blue-200: #bfd2ff;
$primary-blue-300: #95b3ff;
$primary-blue-400: #6291ff;
$primary-blue-500: #3f78ff;
$primary-blue-600: #2659d0;
$primary-blue-700: #1b408f;

//neutral
$neutral-050: #fdfdff;
$neutral-100: #f3f4f8;
$neutral-200: #edeff4;
$neutral-300: #dfe3e9;
$neutral-400: #d4d7e2;
$neutral-500: #a9aeba;
$neutral-600: #8c909c;
$neutral-700: #676b75;
$neutral-800: #444953;
$neutral-900: #222329;
